body {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.logo {
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
}

.menu-button {
    font-size: 24px;
    cursor: pointer;
}

.hero {
    background-image: url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px;
}

.hero-content {
    text-align: center;
    color: black;
    padding: 20px;
    background: rgba(156, 166, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.hero-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.item img {
    border: 0px solid rgb(0, 0, 0);
}

.columns {
    display: flex;
    gap: 30px;
}

.columns div {
    flex: 33.33%;
    height: 200px;
    border: 5px solid rgba(156, 166, 255);
    background-size: cover;
    background-position: center;
}

.title-column {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(127, 127, 127, 0.5);
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.main {
    background-image: url('../assets/hotel_main.png');
    background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
}

.main h3 {
    margin: 0;
}

hr {
    border: 3px solid black;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.primertitulo {
    margin: 40px;
}

.imagen1 {
    margin-top: 52px;
    object-fit: cover;
    width: 300px;
    height: 200px;
    padding-top: 0px;
    border: 5px solid rgba(156, 166, 255);
}

.selecciones {
    margin-top: 50px;
    display: inline-block;
}


.casillas {
    margin-bottom: 100px;
}

.select {
    background-color: rgb(243, 255, 250);
    font-size: 15px;
    appearance: none;
    outline: none;
    border: solid 2px #c1c1c1;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.check {
    margin: 20px 60px;
    display: inline-block;
}

#fonthus {
    display: block;
    margin-top: 10px;
}

.input {
    display: block;
    margin-left: 180px;
    margin-bottom: 20px;
}

.input-text {
    margin-top: 6%;
    margin-left: 8%;
    height: 20px;
    width: 300px;
    position: relative;
}

.input-text input {
    background-color: rgb(242, 253, 253);
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #2789b6;
}

.input-text label.subir {
    transform: translateY(-10px);
    font-size: 15px;
    bottom: 15px;
}

.input-text label {
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    left: 8px;
    color: #000000;
    transition: all 0.3s ease;
}

.input-text .underline {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}   

.label {
    padding-top: -20px;
    flex-shrink: 0;
    margin-right: 10px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 70px;
    height: 30px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    background: #4cc1f7;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 55%;
}

.input label {
    margin-top: -90px;
}

#numero {
    width: 220px;
}

.input2 {
    display: block;

}

.enviar {
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: gray;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(13, 96, 173);
    transform: scale(1.1);
}

.enviarindex {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviarindex:hover {
    background: #0099ff;
    transform: scale(1.1);
}

fieldset {
    border: 0px solid transparent;
}

.transicion-desvanecer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
}

.transicion-desvanecer.mostrar {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}

.input-group {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.input-servicios {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.container {
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    align-items: center;
  }

#opadicionales {
    display: block;
    margin-left: 70px;
}

#numero{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#resadicionales{
    display: flex;
    width: 60%;
}

.last{
    display: flex;
    align-items: center;
}

.inforeserva {
    margin-top: 3%;
    background-color:rgb(181, 225, 245);
    background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
}