main{
    background-color: aquamarine;
    margin-left: 40px;
    margin-right: 40px;
}

.primertitulo{
    margin: 40px;
}

.imagen1{   
    margin-left: 60px;
    padding-top: 0px;
    height: 20%;
    width: 20%;
}

.selecciones{
    margin-left: 200px;
    display: inline-block;
}

.segundocuadrante, .tercercuadrante{
    margin-left: 40px;
}

.casillas{
    margin-bottom: 50px;
}

.check{
    margin: 20px 180px;
    display: inline-block;    
}

.input{
    display: block;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 20px;
}

.input-servicios{
    display: inline-block;
    margin-right: 80px;
}

.numhuespedes{
    display: inline-block;
}

.label{
    margin-top: 80px;
    margin-left: 180px;
}

#numero {
    width: 220px;
}

.input2{
    display: inline-block;
    margin-left: 50px;
}


.restaurante{
    margin-left: 40px;
}

.servicios{
    margin-left: 180px;
}

.enviar{
    margin-left: 350px;
    margin-top: 50px;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: gray;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(29, 28, 28);
    transform: scale(1.1);
}